{% extends 'base.html' %}
{% block title %}docker后台管理{% endblock %}
  {% block dl %}
      {% if username  %}
          <a  style="font-size: 16px;display: inline-block; margin: 20px 0px 0px 20px"  href=#>欢迎您:{{username}}</a>
          <a  style="font-size: 16px;display: inline-block; margin: 20px 50px 0px 10px" href="/logout">注销</a>
      {% endif %}
{% endblock %}
{% block commit %}
    <!--   容器网页   -->
    <div class="show">
    <b><span style="font-size: 18px;color: red">{{ commitresult }}{{ msg }}</span></b>
    </div>
					<form id="loginForm"  method="POST">
						<div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="font-size: 14px;">提交后镜像名称</button>
                                    </span>
                                    <input type="text" class="form-control" name="commitimagename" placeholder="提交后镜像名称">
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="font-size: 14px;">所&nbsp&nbsp属&nbsp&nbsp项&nbsp&nbsp目&nbsp组</button>
                                    </span>
                                    <select name="department" id="" style="font-size: 14px;" class="form-control">
                                        <option value="所属项目组" selected style="font-size: 14px;">所属项目组</option>
                                        {% for d in departmentobj %}
                                            <option name="department" value="{{ d.departmentname }}" style="font-size: 14px;">{{ d.departmentname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                           <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="font-size: 14px;">镜&nbsp&nbsp像&nbsp&nbsp说&nbsp&nbsp明&nbsp&nbsp&nbsp&nbsp</button>
                                    </span>
                                    <input type="text" class="form-control" name="bz"  placeholder="镜像说明" style="font-size: 14px;">
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>
						<button class="btn btn-success  btn-block" type="submit">
							<b>提交</b>
						</button>
					</form>
			<!--<div class="pad-ver">
				<a href="#" class="btn-link mar-rgt">Forgot password ?</a>
				<a href="#" class="btn-link mar-lft">Create a new account</a>
			</div>-->
{% endblock %}