{% extends 'base.html' %}
{% block title %}docker后台管理{% endblock %}
    {% block dl %}
      {% if username  %}
          <a  style="font-size: 16px;display: inline-block; margin: 20px 0px 0px 20px"  href=#>欢迎您:{{username}}</a>
          <a  style="font-size: 16px;display: inline-block; margin: 20px 50px 0px 10px" href="/logout">注销</a>
      {% endif %}
{% endblock %}
{% block container %}
    <!--   容器网页   -->
    <div class="show">
    <b><span style="font-size: 18px;color: red">{{ msg }}</span></b>
    </div>
					<form id="loginForm"  method="POST">
						<div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="font-size: 14px;">主机 &nbsp&nbsp  ip</button>
                                    </span>
                                    <select name="dockerhost" id="" style="font-size: 14px;" class="form-control">
                                        <option value="docker主机IP地址" selected style="font-size: 14px;">docker主机IP地址</option>
                                        {% for dockerip in dockerobj %}
                                            <option name="dockerhost" value="{{ dockerip.ip }}" style="font-size: 14px;">{{ dockerip.ip }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="font-size: 14px;">容器配置</button>
                                    </span>
                                    <select name="pz" id="" style="font-size: 14px;" class="form-control">
                                        <option value="容器配置" selected style="font-size: 14px;">容器配置</option>
                                        <option name="pz" value="1,1024m" style="font-size: 14px;">1核,1G内存</option>
                                        <option name="pz" value="1,2048m" style="font-size: 14px;">1核,2G内存</option>
                                        <option name="pz" value="2,2048m" style="font-size: 14px;">2核,2G内存</option>
                                        <option name="pz" value="2,4096m" style="font-size: 14px;">2核,4G内存</option>
                                        <option name="pz" value="2,8192m" style="font-size: 14px;">2核,8G内存</option>
                                        <option name="pz" value="4,2048m" style="font-size: 14px;">4核,2G内存</option>
                                        <option name="pz" value="4,4096m" style="font-size: 14px;">4核,4G内存</option>
                                        <option name="pz" value="4,8192m" style="font-size: 14px;">4核,8G内存</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="font-size: 14px;">容器名称</button>
                                    </span>
                                    <input type="text" class="form-control" name="containername"  placeholder="容器名称" style="font-size: 14px;">
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="font-size: 14px;">镜像名称</button>
                                    </span>
                                <select name="imagename" id="" style="font-size: 14px;" class="form-control">
                                    <option name="imagename" value="centos_base" selected style="font-size: 14px;">centos_base</option>
                                    {% for imageadmin in imageadmin %}
                                        <option name="imagename" value="{{ imageadmin.imagename }}" style="font-size: 14px;">{{ imageadmin.imagename }}</option>
                                    {% endfor %}
                                    {% for image in imageobj %}
                                        <option name="imagename" value="{{ image.imagename }}" style="font-size: 14px;">{{ image.imagename }}</option>
                                    {% endfor %}
                                    <!--<input type="text" class="form-control" name="imagename" placeholder="私有仓库镜像名称" style="font-size: 14px;">-->
                                </select>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                         <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="font-size: 14px;">备&nbsp&nbsp&nbsp&nbsp注&nbsp&nbsp&nbsp</button>
                                    </span>
                                    <input type="text" class="form-control" name="bz"  placeholder="备注" style="font-size: 14px;">
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>
						<button class="btn btn-success  btn-block" type="submit">
							<b style="font-size: 14px;">创建</b>
						</button>
					</form>
                    <table>
                        <tr>
                            <th style="font-size: 16px;">{{ containerid }}&nbsp&nbsp&nbsp&nbsp </th>   <!-- id-->
                            <th style="font-size: 16px;">{{ containername }}&nbsp&nbsp&nbsp&nbsp </th>   <!-- Names-->
                            <th style="font-size: 16px;"> {{ ip }}&nbsp&nbsp&nbsp&nbsp </th>  <!-- IP-->
                            <th style="font-size: 16px;">{{ password  }}&nbsp&nbsp&nbsp&nbsp </th>  <!-- password-->
                        </tr>
                    </table>
			<!--<div class="pad-ver">
				<a href="#" class="btn-link mar-rgt">Forgot password ?</a>
				<a href="#" class="btn-link mar-lft">Create a new account</a>
			</div>-->
    <script type="text/javascript">
$(document).ready(function() {
    $('#loginForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            dockerhost: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The dockerhost is required and cannot be empty'
                    },
                    stringLength: {
                        min: 2,
                        max: 30,
                        message: 'The dockerhost must be more than 6 and less than 30 characters long'
                    },
                }
            },
            containername:{
                message: "The containername is not valid",
                validators:{
                    notEmpty:{
                        'message': "the containername is required and cannot be empty"
                    },
                    stringLength:{
                        min:3,
                        max:30,
                        message:'The containername must be more than 6 and less than 30 characters long'
                    },
                }
            },
            imagename:{
                message: "The imagename is not valid",
                validators:{
                    notEmpty:{
                        'message': "the imagename is required and cannot be empty"
                    },
                    stringLength:{
                        min:3,
                        max:30,
                        message:'The imagename must be more than 6 and less than 30 characters long'
                    },
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email is required and cannot be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            }
        }
    });
});

</script>
{% endblock %}
