<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-2.1.1.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</head>
<body>
[
    {
        "Id": "e9ff33e7e5b9a683ab735bbe99450c50bd0b64c4e414d12c94ff93b345d3bb18",
        "ParentId": "22218d75fdd7dfba85feb60f8165eecb5ba13b9364b07ec2b8cd76e887bd6d78",
        "RepoTags": [
            "docker.io/swarm:latest"
        ],
        "RepoDigests": [],
        "Created": 1449709381,
        "Size": 0,
        "VirtualSize": 17146714,
        "Labels": null
    },
    {
        "Id": "32653661039ddb04d405db13861f63660e4dfa3b332e6226b2a0f1ad0ce71aa3",
        "ParentId": "",
        "RepoTags": [
            "docker.io/alpine:latest"
        ],
        "RepoDigests": [],
        "Created": 1449682169,
        "Size": 5248653,
        "VirtualSize": 5248653,
        "Labels": null
    },
    {
        "Id": "d55e68e6cc9c7f78f1c02001e1a5ce76511db044c659e5c0a4275c54473f2869",
        "ParentId": "b207c06aba70227e0a2561bb7df20a5fd1310901da98ecc6f4da7dccdc40d961",
        "RepoTags": [
            "docker.io/ubuntu:latest"
        ],
        "RepoDigests": [],
        "Created": 1449599913,
        "Size": 0,
        "VirtualSize": 187894764,
        "Labels": null
    },
    {
        "Id": "6ffc02088cb870652eca9ccd4c4fb582f75b29af2879792ed09bb46fd1c898ef",
        "ParentId": "0d30b5fc3b42ebbeaa8a57708b981ff2a8dc150b24e5a8042fbf40264e9181a7",
        "RepoTags": [
            "docker.io/nginx:latest"
        ],
        "RepoDigests": [],
        "Created": 1449598887,
        "Size": 0,
        "VirtualSize": 133816084,
        "Labels": null
    },
    {
        "Id": "b6a2f7546a7f961688c29c05de47ce6c559665e67d8c7fb6b94affaba80c5278",
        "ParentId": "1b4531fc042729dd41507885aa304544763603c7196afee954dd960c2690d5e3",
        "RepoTags": [
            "docker.io/ehazlett/docker-proxy:latest"
        ],
        "RepoDigests": [],
        "Created": 1441494155,
        "Size": 0,
        "VirtualSize": 7840701,
        "Labels": null
    },
    {
        "Id": "6c4579af347b649857e915521132f15a06186d73faa62145e3eeeb6be0e97c27",
        "ParentId": "e244e638e26e77a8b08da462b1cb92811ed6d3d2874286368afcef7717ed9475",
        "RepoTags": [
            "gcr.io/google_containers/pause:0.8.0",
            "gcr.io/google_containers/pause:latest",
            "docker.io/kubernetes/pause:latest"
        ],
        "RepoDigests": [],
        "Created": 1405753352,
        "Size": 0,
        "VirtualSize": 239840,
        "Labels": null
    }
]
</body>
<!--
<script type="text/javascript">
    // 字典
    var Dict = {{ dd |safe }};
    alter(Dict['a'])
    console.log("--- 两种字典的取值方式  ---")
    console.log(Dict['a']);
    console.log(Dict.b);

    console.log("---  遍历字典  ---");
    for(i in Dict) {
        console.log(i + Dict[i]);//注意，此处 i 为键值
    }
</script>
-->
</html>